@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #121212;
  color: white;
}

@font-face {
  font-family: 'Gotham-Black';
  src: url('./assets/fonts/Gotham-Black.otf') format('opentype');
}

@font-face {
  font-family: 'Gotham-Bold';
  src: url('./assets/fonts/Gotham-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'Gotham-BookItalic';
  src: url('./assets/fonts/Gotham-BookItalic.otf') format('opentype');
}

@font-face {
  font-family: 'Gotham-Light';
  src: url('./assets/fonts/Gotham-Light.otf') format('opentype');
}

@font-face {
  font-family: 'Gotham-Thin';
  src: url('./assets/fonts/Gotham-Thin.otf') format('opentype');
}

@font-face {
  font-family: 'Gotham-ThinItalic';
  src: url('./assets/fonts/Gotham-ThinItalic.otf') format('opentype');
}

@font-face {
  font-family: 'Gotham-UltraItalic';
  src: url('./assets/fonts/Gotham-UltraItalic.otf') format('opentype');
}

@font-face {
  font-family: 'Gotham-XLight';
  src: url('./assets/fonts/Gotham-XLight.otf') format('opentype');
}

@font-face {
  font-family: 'Gotham-XLightItalic';
  src: url('./assets/fonts/Gotham-XLightItalic.otf') format('opentype');
}